luca-try-1/exercise-1/Exercise1/bin
luca-try-1/exercise-1/Exercise1/obj
luca-try-1/exercise-1/Exercise1/Exercise1.csproj.user
luca-try-1/exercise-1/Exercise1/Exercise1.sln.DotSettings.user
luca-try-1/exercise-1/Exercise1/Exercise1.v11.suo
